@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

.consultation__wr {
  background-color: rgba(0, 0, 0, 0.859);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.consultation__wr.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.consultation__wr.active .consultation__body {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.consultation__body {
  background-color: #fff;
  padding: 24px 36px;
  border-radius: 8px;
  max-width: 390px;
  -webkit-transform: perspective(600px) translate(0px, -400%) rotateX(110deg);
          transform: perspective(600px) translate(0px, -400%) rotateX(110deg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-left: 15px;
  margin-right: 15px;
}

h6 {
  letter-spacing: 0.015em;
  line-height: 100%;
  margin-bottom: 16px;
  color: #E1BA48;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

.consultation__name,
.consultation__tell {
  position: relative;
}

.consultation__name p,
.consultation__tell p {
  position: absolute;
  left: 0;
  top: 100%;
  color: #B91F28;
  font-size: 9px;
  line-height: 125%;
  letter-spacing: 0.015em;
}

.consultation__name {
  margin-bottom: 23px;
}

.consultation__tell {
  margin-bottom: 16px;
}

.consultation__valid {
  opacity: 0;
}

.consultation__valid.invalid {
  opacity: 1;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Roboto";
  height: 100%;
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1690px;
  padding-left: 120px;
  padding-right: 120px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.wrapper header {
  color: #fff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

h2 {
  font-size: 40px;
  line-height: 117%;
  font-weight: 300;
  text-align: center;
}

.btn {
  background: #FBC21B;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.015em;
  color: rgba(0, 0, 0, 0.76);
  padding: 8px 16px;
  color: #fff;
  white-space: nowrap;
}

.modal input {
  border: 1px solid rgba(29, 31, 36, 0.78);
  border-radius: 5px;
  padding: 10px;
  max-width: 205px;
}

.modal input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: #9E9E9E;
}

.modal input::-moz-placeholder {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: #9E9E9E;
}

.modal input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: #9E9E9E;
}

.modal input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: #9E9E9E;
}

.modal input::placeholder {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: #9E9E9E;
}

.modal button {
  background: #FDD04C;
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #1D1F24;
  padding: 8px 16px;
}

.consultation {
  color: rgba(0, 0, 0, 0.76);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.adaptive-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.simplebar-scrollbar:before {
  background: rgba(253, 208, 76, 0.54);
  border-radius: 4px;
  opacity: 1;
}

.burger__body {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #1D1F24;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.burger__body li {
  padding: 15px;
}

.burger__body.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  padding-top: 34px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.scroll {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.733);
}

.header__nav ul {
  display: none;
}

.header__nav img {
  display: none;
}

.header__burger {
  display: block;
  width: 27px;
  height: 15px;
  padding: 6px 10px;
  position: relative;
}

.header__burger:after,
.header__burger:before {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__burger:after {
  content: "";
  top: 0;
  left: 0;
}

.header__burger:before {
  content: "";
  bottom: 0;
  left: 0;
}

.header__burger span:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__burger.active span:after {
  opacity: 0;
  -webkit-transform: translateY(-60%) translateX(30px);
      -ms-transform: translateY(-60%) translateX(30px);
          transform: translateY(-60%) translateX(30px);
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.initial {
  position: relative;
  padding-top: 238px;
  padding-bottom: 87px;
}

.initial img {
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}

.initial__body {
  position: relative;
  z-index: 3;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initial__body h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.015em;
  margin-bottom: 120px;
  text-align: center;
}

.initial__gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8.79%, #141313), color-stop(21.85%, rgba(16, 16, 16, 0.85)), color-stop(41.4%, rgba(11, 10, 10, 0.7)), color-stop(57.81%, rgba(6, 6, 6, 0.5)), color-stop(95.34%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #141313 8.79%, rgba(16, 16, 16, 0.85) 21.85%, rgba(11, 10, 10, 0.7) 41.4%, rgba(6, 6, 6, 0.5) 57.81%, rgba(0, 0, 0, 0) 95.34%);
  background: linear-gradient(180deg, #141313 8.79%, rgba(16, 16, 16, 0.85) 21.85%, rgba(11, 10, 10, 0.7) 41.4%, rgba(6, 6, 6, 0.5) 57.81%, rgba(0, 0, 0, 0) 95.34%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.initial__p-upper {
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 420px;
  font-weight: 500;
  line-height: 115%;
  text-align: center;
  color: rgba(255, 255, 255, 0.83);
}

.initial__p-lower {
  margin-bottom: 10px;
  max-width: 670px;
  font-size: 16px;
  letter-spacing: 0.015em;
}

.object {
  padding-top: 150px;
  padding-bottom: 150px;
}

.object h2 {
  margin-bottom: 30px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  cursor: pointer;
  color: #1D1F24;
  font-weight: 500;
  margin-bottom: 105px;
}

.tabs span {
  height: 44px;
  width: 1px;
  border: 1px solid #FDD04C;
  display: block;
}

.tabs li {
  font-size: 24px;
  text-align: center;
}

.tabs .first {
  padding: 5px 0;
  padding-right: 36px;
}

.tabs .second {
  padding: 5px 0;
  padding-left: 36px;
}

.tab.active {
  color: rgba(29, 31, 36, 0.56);
}

.card {
  max-width: 400px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 1px;
  height: 100%;
}

.card h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 13px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.015em;
  color: rgba(0, 0, 0, 0.78);
}

.card__main-wr {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 280px;
  width: 100%;
}

.card__img-main {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center center;
     object-position: center center;
}

.card__img-like {
  position: absolute;
  top: 8px;
  left: 8px;
  max-width: 24px;
  cursor: pointer;
}

.card__review {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.card__review-img {
  margin-right: 5px;
}

.card__map {
  margin-bottom: 14px;
}

.card__map-img {
  margin-right: 12px;
}

.card__map-date {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: rgba(0, 0, 0, 0.38);
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.card__price-price {
  margin-right: 27px;
  font-weight: 500;
  letter-spacing: 0.015em;
  color: rgba(23, 23, 23, 0.78);
  line-height: 120%;
  font-size: 20px;
}

.card__price-label {
  color: #FDD04C;
  background: rgba(253, 208, 76, 0.22);
  border-radius: 2px;
  padding: 2px;
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(0, 0, 0, 0.56);
  letter-spacing: 0.015em;
  font-size: 15px;
  line-height: 140%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.card__description-room,
.card__description-space,
.card__description-platform {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__description-platform,
.card__description-space {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__description-space {
  padding-right: 10px;
}

.card__description-space {
  padding-left: 10px;
}

.object__mobile {
  display: block;
}

.object__desktop-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.object__desktop-wr .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.product__slider {
  min-width: 0;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 105px;
}

.product__slider-prev,
.product__slider-next {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

.product__arrow {
  width: 44px;
  height: 44px;
  display: block;
  background: rgba(253, 208, 76, 0.5);
  border: 1px solid #FDD04C;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product__arrow:after {
  content: url("../img/arrow-swiper-product.svg");
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.product__slider-next {
  width: 100%;
}

.product__slider-next .product__arrow {
  margin: 0 0 0 auto;
}

.product__slider-next .product__arrow:after {
  -webkit-transform: rotate(-180deg) translate(45%, 55%);
      -ms-transform: rotate(-180deg) translate(45%, 55%);
          transform: rotate(-180deg) translate(45%, 55%);
}

.product__slider-next.swiper-button-disabled .product__arrow,
.product__slider-prev.swiper-button-disabled .product__arrow {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(29, 31, 36, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product__slider-next.swiper-button-disabled .product__arrow:after,
.product__slider-prev.swiper-button-disabled .product__arrow:after {
  content: url("../img/arrow-disabled-product.svg");
}

.object__mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 35px 30px;
  padding-bottom: 105px;
}

.object__all {
  font-size: 24px;
  line-height: 116%;
}

.object__all span {
  font-weight: 500;
  color: #FDD04C;
  margin-right: 8px;
}

.command {
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1690px;
  padding-left: 120px;
  padding-right: 120px;
}

.command h2 {
  margin-bottom: 65px;
}

.command__wr {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.command__bg,
.command__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.command__gradient {
  z-index: 3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 8px;
}

.command__bg {
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.command__body {
  position: relative;
  z-index: 4;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 64px;
  padding-right: 80px;
  color: #FFFFFF;
  letter-spacing: 0.015em;
  line-height: 120%;
}

.command__body-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.command__title {
  max-width: 600px;
  padding-right: 20px;
  margin-bottom: 100px;
}

.command__title h4 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 150%;
}

.command__title p {
  font-size: 24px;
  padding-right: 20px;
  line-height: 150%;
}

.command__list {
  padding-right: 20%;
}

.command__list li {
  margin-bottom: 35px;
  padding-left: 34px;
  position: relative;
  font-size: 16px;
  line-height: 120%;
}

.command__list li:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FDD04C;
}

.command__body-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  border-radius: 5px;
  overflow: hidden;
  max-height: 620px;
  height: 620px;
  min-height: 100%;
  position: relative;
}

.command__body-img img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 100%;
  width: 100%;
}

.command__body-second {
  margin-top: 20px;
}

.client {
  padding-top: 150px;
  padding-bottom: 150px;
}

.client h2 {
  margin-bottom: 80px;
}

.client__body-wr {
  background: #1D1F24;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  margin: 0 auto;
  max-width: 1690px;
  margin-left: 120px;
  margin-right: 120px;
  -webkit-column-gap: 95px;
     -moz-column-gap: 95px;
          column-gap: 95px;
}

.review {
  display: none;
}

.review h2 {
  margin-bottom: 75px;
}

.review__net {
  margin-bottom: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.333fr 0.333fr 0.333fr;
  grid-template-columns: 0.333fr 0.333fr 0.333fr;
}

.review__net-item {
  padding-top: 16px;
  height: 100%;
  padding-bottom: 16px;
  padding-right: 60px;
}

.review__net-item h5 {
  color: #1D1F24;
  font-weight: 500;
  margin-bottom: 17px;
  font-size: 16px;
}

.review__net-item:not(:last-child) {
  border-right: 1px solid #FBC21B;
}

.review__net-item:not(:first-child) {
  padding-left: 60px;
}

.review__date {
  letter-spacing: 0.001em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-family: "Poppins";
  margin-bottom: 17px;
  line-height: 140%;
}

.review__body {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(29, 31, 36, 0.78);
}

footer {
  margin-top: 150px;
  background: #1D1F24;
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 0.015em;
  font-size: 15px;
  line-height: 120%;
}

.footer {
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 20px;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__contact {
  padding-right: 15px;
}

.footer__contact img {
  min-width: 24px;
}

.footer__social-networks {
  margin-bottom: 50px;
  gap: 15px;
  font-size: 16px;
  line-height: 150%;
}

.footer__social-networks-wr {
  gap: 15px;
}

.footer__social-tel p {
  margin-bottom: 20px;
}

.footer__social-tel a {
  margin-bottom: 20px;
  display: block;
  color: rgba(255, 255, 255, 0.78);
}

.footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__consultation {
  margin-bottom: 90px;
}

.footer__adress a {
  display: block;
  padding: 3px 0;
}

.footer__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 5px;
  overflow: hidden;
}

.about h2 {
  margin-top: 106px;
  margin-bottom: 95px;
}

.about .swiper-slide {
  position: relative;
}

.about .swiper-slide img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.about__net-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
  padding-right: 150px;
}

.about__net-text h3 {
  margin-bottom: 87px;
  color: #1D1F24;
  font-weight: 500;
  line-height: 120%;
  font-size: 36px;
  text-align: center;
}

.about__net-text p {
  text-align: justify;
  letter-spacing: 0.015em;
  color: rgba(29, 31, 36, 0.78);
  font-weight: 300;
  font-size: 18px;
  line-height: 134.5%;
  max-width: 480px;
}

.about__net-slider {
  display: none;
}

.about__net {
  margin-bottom: 170px;
}

.slider__main,
.slider__thumbs {
  height: 530px;
  cursor: pointer;
}

.slider__main {
  padding-right: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 73%;
          flex: 0 1 73%;
  min-width: 0;
  width: auto;
}

.about-swiper {
  border-radius: 10px;
  overflow: hidden;
  min-width: 0;
  max-width: 100%;
  width: auto;
  height: 100%;
}

.slider__thumbs-wr {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  max-width: 227px;
  width: 100%;
}

.slider__thumbs {
  overflow: hidden;
  max-height: 530px;
  height: auto;
  min-height: 0;
}

.slider__thumbs .swiper-slide {
  overflow: hidden;
  border-radius: 8px;
}

.about__form {
  max-width: 1050px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  z-index: 4;
  padding: 24px 38px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 38px;
  padding-right: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__form .about__section:not(:last-child) {
  padding-right: 16px;
  border-right: 1px solid #FDD04C;
}

.about__section:not(:first-child) {
  padding-left: 16px;
}

.about__section {
  height: 40px;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  width: 100%;
  max-height: 40px;
  position: relative;
}

.about__select {
  height: 100%;
  background: #FFFFFF;
  width: 100%;
  border: 1px solid #C9C9C9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  padding: 0 13px;
  width: 100%;
}

.select__warning {
  margin-right: 8px;
}

.current-option {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.015em;
  color: rgba(0, 0, 0, 0.38);
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100%;
}

.select__btn {
  width: 100%;
}

.about__option-wrapper {
  padding: 8px 12px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(253, 208, 76, 0.13);
          box-shadow: 0px 4px 8px rgba(253, 208, 76, 0.13);
  border-radius: 0 0 5px 5px;
  max-height: 210px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  max-width: 100%;
  position: absolute;
  z-index: 3;
}

.opt1 {
  width: calc(100% - 16px);
}

.opt2,
.opt3 {
  width: calc(100% - 32px);
}

.about__option-wrapper.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.about__option-item {
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
}

.select__warning,
.select__arrow {
  display: block;
}

.current-option.valid {
  color: #000;
}

.about__despription {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 105px;
}

.about__rent,
.about__selling {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 36px;
}

.about__rent h3,
.about__selling h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 117%;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.about__rent .despription__bg,
.about__selling .despription__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__selling-body {
  position: relative;
  z-index: 2;
}

.despription__wr {
  padding-top: 16px;
}

.despription-item {
  margin-bottom: 18px;
}

.despription-item img {
  max-width: 24px;
  max-height: 24px;
}

.despription-item p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}

.despription__item-curcle {
  width: 44px;
  height: 44px;
  border: 1px solid #FDD04C;
  border-radius: 30px;
  margin-right: 12px;
  padding: 10px;
}

@media (min-width: 600px) {
  .burger__body {
    display: none;
  }

  .header__nav img {
    max-width: 150px;
    max-height: 60px;
    display: block;
  }

  .header__burger {
    display: none;
  }
}

@media (min-width: 601px) {
  .review {
    display: block;
  }
}

@media (min-width: 768px) {
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__nav li {
    white-space: nowrap;
    letter-spacing: 0.055em;
    line-height: 170%;
    font-size: 16px;
  }

  .header__nav li:not(:last-child) {
    margin-right: 40px;
  }

  .object__mobile {
    display: none;
  }
}

@media (min-width: 993px) {
  .about__net-slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58%;
            flex: 0 1 58%;
    min-width: 0;
    width: auto;
    max-height: 530px;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1690px) {
  h6 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1920));
  }

  .content {
    padding-left: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  .content {
    padding-right: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  h2 {
    font-size: calc(22px + 18 * ((100vw - 320px) / 1920));
  }

  .initial {
    padding-top: calc(90px + 148 * ((100vw - 320px) / 1920));
  }

  .initial {
    padding-bottom: calc(68px + 19 * ((100vw - 320px) / 1920));
  }

  .initial__body h1 {
    font-size: calc(18px + 30 * ((100vw - 320px) / 1920));
  }

  .initial__body h1 {
    margin-bottom: calc(30px + 90 * ((100vw - 320px) / 1920));
  }

  .initial__p-lower {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1920));
  }

  .object {
    padding-top: calc(60px + 90 * ((100vw - 320px) / 1920));
  }

  .object {
    padding-bottom: calc(60px + 90 * ((100vw - 320px) / 1920));
  }

  .tabs {
    margin-bottom: calc(40px + 65 * ((100vw - 320px) / 1920));
  }

  .tabs li {
    font-size: calc(12px + 12 * ((100vw - 320px) / 1920));
  }

  .tabs .first {
    padding-right: calc(10px + 26 * ((100vw - 320px) / 1920));
  }

  .tabs .second {
    padding-left: calc(10px + 26 * ((100vw - 320px) / 1920));
  }

  .product__slider {
    padding-bottom: calc(25px + 80 * ((100vw - 320px) / 1920));
  }

  .product__slider-prev,
  .product__slider-next {
    -ms-flex-preferred-size: calc(40px + 40 * ((100vw - 320px) / 1920));
        flex-basis: calc(40px + 40 * ((100vw - 320px) / 1920));
  }

  .object__mobile {
    padding-bottom: calc(25px + 80 * ((100vw - 320px) / 1920));
  }

  .object__all {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1920));
  }

  .command {
    padding-left: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  .command {
    padding-right: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  .command h2 {
    margin-bottom: calc(23px + 42 * ((100vw - 320px) / 1920));
  }

  .command__body {
    padding-top: calc(14px + 26 * ((100vw - 320px) / 1920));
  }

  .command__body {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 1920));
  }

  .command__body {
    padding-left: calc(16px + 48 * ((100vw - 320px) / 1920));
  }

  .command__body {
    padding-right: calc(16px + 64 * ((100vw - 320px) / 1920));
  }

  .command__title {
    margin-bottom: calc(18px + 82 * ((100vw - 320px) / 1920));
  }

  .command__title h4 {
    font-size: calc(14px + 18 * ((100vw - 320px) / 1920));
  }

  .command__title p {
    font-size: calc(10px + 14 * ((100vw - 320px) / 1920));
  }

  .command__list li {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1920));
  }

  .command__list li {
    padding-left: calc(20px + 14 * ((100vw - 320px) / 1920));
  }

  .command__list li {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1920));
  }

  .command__body-img {
    height: calc(230px + 390 * ((100vw - 320px) / 1920));
  }

  .client {
    padding-top: calc(60px + 90 * ((100vw - 320px) / 1920));
  }

  .client {
    padding-bottom: calc(60px + 90 * ((100vw - 320px) / 1920));
  }

  .client h2 {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 1920));
  }

  .client__body-wr {
    padding-top: calc(16px + 34 * ((100vw - 320px) / 1920));
  }

  .client__body-wr {
    padding-bottom: calc(16px + 34 * ((100vw - 320px) / 1920));
  }

  .client__body {
    margin-left: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  .client__body {
    margin-right: calc(15px + 105 * ((100vw - 320px) / 1920));
  }

  .client__body {
    -webkit-column-gap: calc(30px + 65 * ((100vw - 320px) / 1920));
       -moz-column-gap: calc(30px + 65 * ((100vw - 320px) / 1920));
            column-gap: calc(30px + 65 * ((100vw - 320px) / 1920));
  }

  .review__net {
    margin-bottom: calc(15px + 50 * ((100vw - 320px) / 1920));
  }

  .review__net-item {
    padding-right: calc(20px + 40 * ((100vw - 320px) / 1920));
  }

  .review__net-item:not(:first-child) {
    padding-left: calc(20px + 40 * ((100vw - 320px) / 1920));
  }

  footer {
    margin-top: calc(60px + 90 * ((100vw - 320px) / 1920));
  }

  .footer__consultation {
    margin-bottom: calc(40px + 50 * ((100vw - 320px) / 1920));
  }

  .about h2 {
    margin-top: calc(40px + 66 * ((100vw - 320px) / 1920));
  }

  .about h2 {
    margin-bottom: calc(30px + 65 * ((100vw - 320px) / 1920));
  }

  .about__net-text {
    padding-right: calc(20px + 130 * ((100vw - 320px) / 1920));
  }

  .about__net-text h3 {
    margin-bottom: calc(24px + 63 * ((100vw - 320px) / 1920));
  }

  .about__net-text h3 {
    font-size: calc(20px + 16 * ((100vw - 320px) / 1920));
  }

  .about__net {
    margin-bottom: calc(40px + 130 * ((100vw - 320px) / 1920));
  }

  .slider__main,
  .slider__thumbs {
    height: calc(100px + 430 * ((100vw - 320px) / 1920));
  }

  .about__form {
    padding-top: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .about__form {
    padding-bottom: calc(16px + 8 * ((100vw - 320px) / 1920));
  }

  .about__form {
    padding-left: calc(16px + 22 * ((100vw - 320px) / 1920));
  }

  .about__form {
    padding-right: calc(16px + 22 * ((100vw - 320px) / 1920));
  }

  .about__option-item {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1920));
  }

  .about__despription {
    gap: calc(0px + 105 * ((100vw - 320px) / 1920));
  }

  .about__rent,
  .about__selling {
    padding-left: calc(16px + 20 * ((100vw - 320px) / 1920));
  }

  .about__rent,
  .about__selling {
    padding-right: calc(16px + 20 * ((100vw - 320px) / 1920));
  }

  .about__rent h3,
  .about__selling h3 {
    font-size: calc(22px + 18 * ((100vw - 320px) / 1920));
  }

  .about__rent h3,
  .about__selling h3 {
    margin-bottom: calc(0px + 32 * ((100vw - 320px) / 1920));
  }

  .despription-item p {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1500px) {
  .footer__social-networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1200px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__social-networks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__adress {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .about__net-text p {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .about__net-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    padding-right: 0;
  }

  .about__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__option-wrapper {
    padding-right: 6px;
  }

  .about__option-item {
    padding-right: 6px;
  }

  .select__warning,
  .select__arrow {
    display: none;
  }

  .about__despription {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
  }
}

@media (max-width: 767px) {
  header {
    padding-top: 24px;
  }

  .object__desktop-wr {
    display: none;
  }

  .command__body-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .command__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .command__list li:after {
    top: 0;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .command__list {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 34px;
  }

  .command__body-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .client__body-wr {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }

  .client__body {
    background: #1D1F24;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 30px;
  }

  .review__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .review__net-item:not(:last-child) {
    border: none;
  }

  .review__net-item:not(:first-child) {
    padding-left: 0;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .select__btn {
    padding: 8px 6px;
  }
}

@media (max-width: 767px) and (max-width: 1690px) {
  .command__list {
    gap: calc(4px + 30 * ((100vw - 320px) / 1920));
  }

  .client__body {
    padding-left: calc(30px + 15 * ((100vw - 320px) / 1920));
  }

  .client__body {
    padding-right: calc(30px + 15 * ((100vw - 320px) / 1920));
  }

  .client__body {
    padding-top: calc(16px + 34 * ((100vw - 320px) / 1920));
  }

  .client__body {
    padding-bottom: calc(16px + 34 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) {
  .consultation__body {
    padding: 18px 24px;
  }

  .header__btn {
    font-size: 14px;
  }

  .initial img {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }

  .initial__p-upper {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .object__mobile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .command {
    padding-left: 0;
    padding-right: 0;
  }

  .footer__social-networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__net-text h3 {
    text-align: left;
  }

  .about__net-text p {
    font-size: 16px;
    text-align: left;
  }

  .about__form .about__section:not(:last-child) {
    padding-right: 0;
    border: none;
  }

  .about__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  .about__section:not(:first-child) {
    padding-left: 0;
  }

  .about__section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }

  .about__option-wrapper {
    top: 100%;
    left: 0;
  }

  .despription-item {
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .initial__body h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }

  .initial__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .initial__body p {
    width: 100%;
    text-align: left;
  }

  .about__rent,
  .about__selling {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .despription__item-curcle {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 400px) {
  .about__form {
    max-width: 250px;
  }
}

@media (max-width: 360px) {
  .command__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1690px) {
  .header__nav li {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1920));
  }

  .header__nav li:not(:last-child) {
    margin-right: calc(5px + 35 * ((100vw - 320px) / 1920));
  }
}

@media (any-hover: hover) {
  .consultation:hover {
    color: #fff;
  }

  .product__arrow:hover {
    background: rgba(253, 208, 76, 0.7);
  }

  .product__slider-next.swiper-button-disabled .product__arrow:hover,
  .product__slider-prev.swiper-button-disabled .product__arrow:hover {
    background: rgba(29, 31, 36, 0.05);
  }

  .about__option-item:hover {
    background: #F4F4F4;
  }
}